<div class="actors" >
	<div class="container" zum-waypoint="waypoints" down="animation.on">
		<div class="row">
			<div class="col-md-12">
				<h2 class="title">Актеры сериала "Cекс в большом городе"</h2>
			</div>
			<div class="row">
				<div class="parker actress" ng-class="{ actorAnimaLeft: waypoints.animationOn }">
					<div class="col-md-4">
						<div class="actor-photo thumbnail">
							<img src="../images/parker.jpg">
						</div>
					</div>
					<div class="col-md-8">
						<div class="actor-description">
							<h3>Сара Джессика Паркер (в роли Кэри Брэдшоу)</h3>
							<p>Актриса родилась в небольшом городке Нелсонвилле в штате Огайо 25 марта 1965 г. Родители Сары (Барбара Фрост и Стивен Паркер) развелись, однако мать снова вышла замуж и девочка вместе со своей сестрой и братьями переехала жить к отчиму, который имел четырех собственных детей. Несмотря на такое большое количество детей, родители каждому из них уделяли достаточно внимания. Для всех отпрысков Барбара Фрост и ее муж избрали актерскую карьеру, и Сара не стала исключением. Первой серьезной работой Сары Джессики Паркер стала роль в постановке «Невинные». После такого удачного дебюта последовало приглашение участвовать в бродвейском мюзикле «Звуки музыки», который имел бешеный успех.<br>После «Звуков музыки» предложения участвовать в мюзиклах посыпались как из рога изобилия, однако Саре уже хотелось большего, чем просто сцена. Первое время начинающей актрисе доставались лишь крохотные эпизоды в большом кино и роли в телесериалах. Однако Сара Джессика сумела привлечь внимание «светил» большого кино своей бурной личной жизнью. Среди ее любовников числились: Джон Кеннеди-младший, Николас Кейдж и Роберт Дауни-младший. С последним актриса прожила несколько лет в гражданском браке. После разрыва отношений с Кеннеди-младшим, Сара, наконец, находит любовь всей своей жизни – актера Мэтью Бродерика.<br> Театр Сара Джессика также не бросала и добилась на сцене немалых успехов. За роль в мюзикле «Однажды на матрасе» она получила премию «Тони». Кроме того, у актрисы есть и другие престижные театральные премии.<br> Однако вершиной карьеры Сары Джессики Паркер стал сериал «Секс в большом городе» (производства кабельного канала HBO), который имел невероятный успех во всем мире. За роль Керри, Сара получила не только общемировую известность, но и премии «Эмми» и «Золотой глобус».<br> Помимо актерской карьеры Сара Джессика Паркер активно занимается благотворительностью и участвует в общественной деятельности. Она является членом голливудского женского политического комитета и работает в ЮНИСЕФ.<br> В 1997 году (19 мая) Сара вышла замуж за свою давнюю любовь Мэтью Бродерика и в 2002 году (28 октября) родила ему сына Дэвида Пэркинса Бродерика.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="ketrol actress"  ng-class="{ actorAnimaRight: waypoints.animation.on }">
					<div class="col-md-4">
						<div class="actor-photo thumbnail">
							<img src="../images/ketrol.jpg">
						</div>
					</div>
					<div class="col-md-8">
						<div class="actor-description">
							<h3>Ким Кэттролл (в роли Саманты Джонс)</h3>
							<p>Популярная актриса Ким Кэттролл родилась в городе Ливерпуле, Великобритания 21 августа 1956 года. Когда маленькой Ким было всего 3 месяца, ее родители переехали в Ванкувер (Канада), где и прошло ее детство. Ким Кэттролл получила прекрасное образование. Она окончила Школу изящных искусств (Банфф, Канада) и Академию драматического и музыкального искусства (Лондон). В Нью-Йорке Ким получила диплом Американской академии драматического искусства.<br>После завершения учебы Ким подписала контракт на участие в фильмах Отто Премингера сроком на пять лет, однако через год его перекупила копания «Universal Studios». Согласно новому договору с «Universal», Ким Кэттролл участвовала во многих сериалах, а вскоре ее стали приглашать и в большое кино. Она снялась в картине «Билет в рай» и была номинирована за эту роль на премию «Дженни», которая является канадским вариантом «Оскара». Фильм «Награда», где она снялась со знаменитым Джеком Леммоном, был номинирован на «Оскар».<br>На счету Ким Кэттролл еще немало прекрасных ролей в известных фильмах: «Звездный путь 6: неоткрытая страна», «Маскарад», «Порки», «Манекен», «Полицейская академия-1». Она снималась с Куртом Расселом в известном фильме «Большой переполох в маленьком Китае» режиссера Джона Карпентера, а также с Томом Хэнксом в комедии Брайана де Пальма под названием «Костер тщеславия». Критики известных фестивалей независимого кино пришли в восторг от ее роли Джеми в картине «Голые девушки без купюр».<br>Актриса не ограничивалась работой в кино и телевизионных проектах. На счету Ким несколько популярных театральных постановок: чеховские «Три сестры», «Вид с моста» по Артуру Миллеру, «Мизантроп» по произведению Мольера и т.д. Со спектаклем «Дикий мед» (по чеховским произведениям) Ким Кэттролл дебютировала на Бродвее. Главную роль в этой постановке Национального театра сыграл Йан Мак Келлен.<br>В мега популярном сериале «Секс в большом городе» актриса сыграла роль обаятельной роковой женщины Саманты Джоунс и приобрела за нее не только восторженные отзывы критиков и простых зрителей, а также и многочисленные номинации на «Золотой глобус» и «Эмми».</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="nikson actress">
					<div class="col-md-4">
						<div class="actor-photo thumbnail">
							<img src="../images/nikson.jpg">
						</div>
					</div>
					<div class="col-md-8">
						<div class="actor-description">
							<h3>Синтия Никсон (в роли Миранды Хоббс)</h3>
							<p>Известная актриса Синтия Никсон появилась на свет 9 апреля 1966 года. Выросла Синтия на Манхэттене (Нью-Йорк, США).<br>Актрисе удалось участвовать одновременно в нескольких постановках на Бродвее в весьма юном возрасте. Когда Синтии было восемнадцать лет, она играла в спектакле «Реальная штучка» Тома Стоппарда и в пьесе «Переполох» Дэвида Рабе одновременно. Позднее Синтия Никсон участвовала во многих бродвейских постановках, среди которых: «Филадельфийская история», «Хроники Хайди», «Ангелы в Америке», «Последняя ночь абсурда» и т.д. За роль в постановке «Опрометчивый шаг» актриса удостоилась номинации на премию «Тони», а «Филадельфийская история» принесла ей Мировую театральную премию.<br>Помимо бродвейских постановок, Синтия Никсон занята в театральной компании под названием «Драма департмент», в которой она является соучредителем. Кроме того, актриса пробовала себя (и весьма успешно) в роли продюсера. Ее продюсерским дебютом стал проект «Загородный клуб» Дугласа Картера Бина, в пяти спектаклях которого (из девяти) она также выступала как актриса. Общество театральных критиков (Лос-Анджелеса) удостоило Синтию Никсон своей премии за роль в пьесе «Кто боится Виржинии Вульф». Актриса сыграла роль Крошки, а постановщиком пьесы был Эдвард Олби.<br>Синтия Никсон дебютировала в большом кино в 1980 году. За свою насыщенную карьеру она приняла участие в проектах многих известных режиссеров кино и театра. Среди них: Роберт Олтман, Майк Николс, Милош Форман, Луис Малле и другие. Актриса снялась во многих популярных фильмах, таких как: «Приезжие», «Комната Марвина», «Младенец на прогулке», «Дело Пеликанов», «Амадей» и «Король города».<br>В карьере Синтии Никсон также было несколько ролей в телефильмах. Она снималась вместе с Анжелой Лэнсбери в сериале «Любовь, которую она искала», а также со Свузи Кертц и Ричардом Томасом в телефильме «Пятое июля». В фильмах компании НВО «Лицо незнакомца» и «Убийство Мэри Фейган» актрисе посчастливилось работать с Тайн Дейли, Джиной Роуланд и Джеком Леммоном. Кроме того, Синтия Никсон принимала участие в сериале «Кис-кис, крошка!».</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="devis actress">
					<div class="col-md-4">
						<div class="actor-photo thumbnail">
							<img src="../images/devis.jpg">
						</div>
					</div>
					<div class="col-md-8">
						<div class="actor-description">
							<h3>Кристин Дэвис (в роли Шарлотты Йорк)</h3>
							<p>Знаменитая актриса Кристин Дэвис родилась в г. Боулдере (Колорадо) 24 февраля 1965 года. Ее отец (преподаватель психологии в высших учебных заведениях) получил новое назначение в университет города Колумбия (Калифорния) и семья последовала за ним. Закончив университет Рутгерса, Кристин Дэвис переехала в Нью-Йорк. Там она участвовала в театральных постановках (классических и современных), а также снималась в рекламе.<br>Перовой серьезной работой, в которой актриса блеснула и запомнилась, стала роль Брук Армстронг в популярном сериале «Мелроуз Плейс» или «Район Мелроуз». Еще один персонаж, который принес Кристин признание зрителей – Шарлотта из телесериала «Секс в большом городе». Шарлотта продает произведения искусства и вместе со своими подругами ищет себя и свою любовь.<br> «Забери меня домой, или История Джона Денвера» от компании CBS – последний на данный момент проект актрисы. В нем она снялась в паре с известным актером Чэдом Лоу. За свою карьеру Кристин Дэвис участвовала во многих телефильмах. Среди них «Атомный поезд» – триллер с участием Исая Моралеса и Роба Лоу, а также «Самая страшная ложь», «Думая об убийстве» и «Смертельный взгляд». Помимо этого актриса засветилась в эпизодах таких известных сериалов как, «Шоу Ларри Сандерса» «Доктор Куин – женщина-врач», «Одинокий мужчина» и «Скорая помощь». Кроме того, Кристин поучаствовала в сериале «Хроники Хайди».<br> В молодости Кристин Дэвис серьезно увлекалась йогой и даже открыла со своим другом соответствующую школу в Нью-Йорке. Сейчас Кристин проживает в «Городе Ангелов» и свободное время, как и в юности, посвящает йоге. Среди ее увлечений также вязание и бег трусцой.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
