<section class="home">
	<div class="container">
		<div>
			<div class="img-wrap-home">
				<a ui-sref="seasons({seasonId: 1})">
					<img src="../images/main.jpg"/> 
				</a>
				  
		    </div>
		</div>
		<div class="slider-home">
			<slick class="hidden-sm hidden-xs " infinite="true" slides-to-show="3" slides-to-scroll="1" dots="true" infinite="false" speed="300" style="color: #000">
				<div ui-sref="seasons({seasonId: 1})" class="season1">1 сезон</div>
				<div ui-sref="seasons({seasonId: 2})" class="season2">2 сезон</div>
				<div ui-sref="seasons({seasonId: 3})" class="season3">3 сезон</div>
				<div ui-sref="seasons({seasonId: 4})" class="season4">4 сезон</div>
				<div ui-sref="seasons({seasonId: 5})" class="season5">5 сезон</div>
				<div ui-sref="seasons({seasonId: 6})" class="season6">6 сезон</div>
			</slick>
			<slick class="hidden-lg hidden-md" infinite="true" slides-to-show="1" slides-to-scroll="1" dots="true" infinite="false" speed="300" style="color: #000">
				<div ui-sref="seasons({seasonId: 1})" class="season1">1 сезон</div>
				<div ui-sref="seasons({seasonId: 2})" class="season2">2 сезон</div>
				<div ui-sref="seasons({seasonId: 3})" class="season3">3 сезон</div>
				<div ui-sref="seasons({seasonId: 4})" class="season4">4 сезон</div>
				<div ui-sref="seasons({seasonId: 5})" class="season5">5 сезон</div>
				<div ui-sref="seasons({seasonId: 6})" class="season6">6 сезон</div>
			</slick>
		</div>
		
	</div>
<!-- 	<div class="damper-left"></div>
	<div class="damper-right"></div> -->
</section>
