<div class="movies">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="title">Смотреть фильмы "Cекс в большом городе"</h2>
			</div>
			<div class="row">
				<div class="parker actress">
					<div class="col-md-4">
						<div class="movie-photo thumbnail">
							<img src="../images/movie_1.jpg">
						</div>
					</div>
					<div class="col-md-8">
						<div class="actor-description">
							<h3>«Секс в большом городе» (фильм) 2008г.</h3>
							<p>Героини сериала «Секс в большом городе» вновь собираются вместе, чтобы поведать преданным поклонникам о своем гламурном житие-бытие. Кэрри, наконец-то, уговорила «мистера Бига» на женитьбу, Миранда решает проблемы с изменником-мужем, Шарлотта забеременела, а Саманта опять закрутила роман с молоденьким манекенщиком. Единственное, что осталось в их жизни неизменным так это их женская дружба, которая с годами лишь только крепнет.</p>
							<p><a ui-sref="movie2008">Смотреть фильм онлайн</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="ketrol actress">
					<div class="col-md-4">
						<div class="movie-photo thumbnail">
							<img src="../images/movie_2.jpg">
						</div>
					</div>
					<div class="col-md-8">
						<div class="actor-description">
							<h3>Секс в большом городе 2 (фильм) 2010</h3>
							<p>Безумное веселье, яркая мода и преданная дружба: «Секс в большом городе-2» снова дарит нам их, и даже больше, ведь Кэрри, Саманта, Шарлотта и Миранда готовы показать нам еще один «кусочек» их жизни в «Большом Яблоке» — и за его пределами, — как они устраивают свои дела и личную жизнь в этом действительно сверкающем сиквеле.<br>Что происходит, когда сказано самое главное слово: «Да»? Жизнь становится такой, о которой мечтали подруги, но это был бы не «Секс в большом городе», если бы судьба не приготовила пару сюрпризов… на этот раз в виде гламурного, насыщенного солнцем приключения, которое уносит девушек из Нью-Йорка в одно из наиболее роскошных, экзотических и живописных местечек на земле, туда, где никогда не заканчивается веселье, где за каждым углом происходит что-то загадочное. В самый подходящий момент четыре закадычные подруги совершают своеобразный побег и оказываются вовлеченными в борьбу с традиционными представлениями о браке, материнстве и т. д и т. п.</p>
							<p><a ui-sref="movie2010">Смотреть фильм онлайн</a></p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>