<div class="musik">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="title">Музыка сериала "Cекс в большом городе"</h2 >
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="song">
					<p>Fergie - Labels Or Love</p>
					 <audio controls preload='none'>
					    <source src="../audio/01_fergie_labels_or_love_myzuka.org.mp3" type="audio/mpeg">
					    Тег audio не поддерживается вашим браузером. 
					    <a href="../audio/01_fergie_labels_or_love_myzuka.org.mp3">Скачайте музыку</a>.
					 </audio>
				</div>

				<div class="song">
					<p>Jennifer Hudson- All Dressed In Love</p>
					 <audio controls preload='none'>
					    <source src="../audio/02_jennifer_hudson_all_dressed_in_love_myzuka.org.mp3" type="audio/mpeg">
					    Тег audio не поддерживается вашим браузером. 
					    <a href="../audio/02_jennifer_hudson_all_dressed_in_love_myzuka.org.mp3">Скачайте музыку</a>.
					 </audio>
				</div>

				<div class="song">
					<p>Duffy - Mercy</p>
					 <audio controls preload='none'>
					    <source src="../audio/03_duffy_mercy_myzuka.org.mp3" type="audio/mpeg">
					    Тег audio не поддерживается вашим браузером. 
					    <a href="../audio/03_duffy_mercy_myzuka.org.mp3">Скачайте музыку</a>.
					 </audio>
				</div>

				<div class="song">
					<p>Nina Simone - The Look Of Love (Madison Park Vs. Lenny B. Remix)</p>
					 <audio controls preload='none'>
					    <source src="../audio/04_nina_simone_the_look_of_love_madison_park_vs_lenny_b_remix_myzuka.org.mp3" type="audio/mpeg">
					    Тег audio не поддерживается вашим браузером. 
					    <a href="../audio/04_nina_simone_the_look_of_love_madison_park_vs_lenny_b_remix_myzuka.org.mp3">Скачайте музыку</a>.
					 </audio>
				</div>

				<div class="song">
					<p>Morningwood- New York Girls</p>
					 <audio controls preload='none'>
					    <source src="../audio/05_morningwood_new_york_girls_myzuka.org.mp3" type="audio/mpeg">
					    Тег audio не поддерживается вашим браузером. 
					    <a href="../audio/05_morningwood_new_york_girls_myzuka.org.mp3">Скачайте музыку</a>.
					 </audio>
				</div>

				<div class="song">
					<p>The Weepies - All This Beauty</p>
					 <audio controls preload='none'>
					    <source src="../audio/06_the_weepies_all_this_beauty_myzuka.org.mp3" type="audio/mpeg">
					    Тег audio не поддерживается вашим браузером. 
					    <a href="../audio/06_the_weepies_all_this_beauty_myzuka.org.mp3">Скачайте музыку</a>.
					 </audio>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="song">
					<p>Kaskade - I Like The Way</p>
					 <audio controls preload='none'>
					    <source src="../audio/07_kaskade_i_like_the_way_myzuka.org.mp3" type="audio/mpeg">
					    Тег audio не поддерживается вашим браузером. 
					    <a href="../audio/07_kaskade_i_like_the_way_myzuka.org.mp3">Скачайте музыку</a>.
					 </audio>
				</div>
				<div class="song">
					<p>Jem - It's Amazing</p>
					 <audio controls preload='none'>
					    <source src="../audio/08_jem_its_amazing_myzuka.org.mp3" type="audio/mpeg">
					    Тег audio не поддерживается вашим браузером. 
					    <a href="../audio/08_jem_its_amazing_myzuka.org.mp3">Скачайте музыку</a>.
					 </audio>
				</div>

				<div class="song">
					<p>India.Arie - The Heart Of The Matter</p>
					 <audio controls preload='none'>
					    <source src="../audio/10_india_arie_the_heart_of_the_matter_myzuka.org.mp3" type="audio/mpeg">
					    Тег audio не поддерживается вашим браузером. 
					    <a href="../audio/10_india_arie_the_heart_of_the_matter_myzuka.org.mp3">Скачайте музыку</a>.
					 </audio>
				</div>
				<div class="song">
					<p>Mairi Campbell feat. Dave Francis - Auld Lang Syne</p>
					 <audio controls preload='none'>
					    <source src="../audio/11_mairi_campbell_auld_lang_syne_myzuka.org.mp3" type="audio/mpeg">
					    Тег audio не поддерживается вашим браузером. 
					    <a href="../audio/11_mairi_campbell_auld_lang_syne_myzuka.org.mp3">Скачайте музыку</a>.
					 </audio>
				</div>
				<div class="song">
					<p>Bliss - Kissing</p>
					 <audio controls preload='none'>
					    <source src="../audio/12_bliss_kissing_myzuka.org.mp3" type="audio/mpeg">
					    Тег audio не поддерживается вашим браузером. 
					    <a href="../audio/12_bliss_kissing_myzuka.org.mp3">Скачайте музыку</a>.
					 </audio>
				</div>
				<div class="song">
					<p>The Pfeifer Broz. Orchestra - Sex And The City Movie Theme</p>
					 <audio controls preload='none'>
					    <source src="../audio/15_the_pfeifer_broz_orchestra_sex_and_the_city_movie_theme_myzuka.org.mp3" type="audio/mpeg">
					    Тег audio не поддерживается вашим браузером. 
					    <a href="../audio/15_the_pfeifer_broz_orchestra_sex_and_the_city_movie_theme_myzuka.org.mp3">Скачайте музыку</a>
					 </audio>
				</div>
			</div>
		</div>
		

	

	</div>
</div>