<section class="seria" ng-controller="TabCtrlSeria as tab">
	<div class="container" ng-controller="SeriaCtrl as ser">
		<h3 class="title">Смотреть онлайн серию {{ser.currentSeria.seriaName}}</h3>
    <h4 class="title">Серия номер {{ser.currentSeria.seriaId}}</h4>
          <ul class="nav nav-pills nav-pills-seria">
            <li ng-class="{ active:tab.isSet(1) }">
              <a href ng-click="tab.setTab(1)">Смотреть серию сезона</a>
            </li>
            <li ng-class="{ active:tab.isSet(2) }">
              <a href ng-click="tab.setTab(2)">Описание серии</a>
            </li>
            <li ng-class="{ active:tab.isSet(3) }">
              <a href ng-click="tab.setTab(3)">Комментарии</a>
            </li>
          </ul>
          <div class="online-inner">
          	  <seria-video ng-show="tab.isSet(1)">
	          </seria-video>

	          <seria-description ng-show="tab.isSet(2)"></seria-description>

	          <seria-comments ng-show="tab.isSet(3)"></seria-comments>
          	</div>
      	</div>
	</div>
</section>