<section class="online" ng-controller="TabCtrl as tab">
	<div class="container"  ng-controller="StoreController as store" >
    <div class="season_name">
        <h2 class="title">Секс в большом городе: cезон {{store.currentSeason.seasonId}}</h2>
    </div>

    <ul class="nav nav-pills nav-pills-seria">
      <li ng-class="{ active:tab.isSet(1) }">
        <a href ng-click="tab.setTab(1)">Смотреть серии сезона</a>
      </li>
      <li ng-class="{ active:tab.isSet(2) }">
        <a href ng-click="tab.setTab(2)">Описание сезона</a>
      </li>
      <li ng-class="{ active:tab.isSet(3) }">
        <a href ng-click="tab.setTab(3)">Комментарии</a>
      </li>
    </ul>
    <div class="online-inner">
    	  <season-series ng-show="tab.isSet(1)">
      </season-series>

      <season-description ng-show="tab.isSet(2)"></season-description>

      <season-comments ng-show="tab.isSet(3)"></season-comments>
    </div>
	</div>
</section>