<nav class="top navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" class="navbar-toggle collapsed nav-toggle-button">
      </button>
      <a href="#" ui-sref="home"class="navbar-brand logo">
        <i class="fa fa-video-camera hidden-lg hidden-md visible-sm visible-xs"></i>
        <img class="logo-city hidden-sm hidden-xs" src="../images/logo.png"/>
      </a>
      <a ui-sref="home"class="navbar-brand text"></a>
    </div>
    <div id="navigation" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
       <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Смотреть онлайн <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
              <li><a href="#" ui-sref="seasons({seasonId: 1})">Сезон 1</a></li>
      	    <li><a href="#" ui-sref="seasons({seasonId: 2})">Сезон 2</a></li>
      	    <li><a href="#" ui-sref="seasons({seasonId: 3})">Сезон 3</a></li>
      	    <li><a href="#" ui-sref="seasons({seasonId: 4})">Сезон 4</a></li>
            <li><a href="#" ui-sref="seasons({seasonId: 5})">Сезон 5</a></li>
            <li><a href="#" ui-sref="seasons({seasonId: 6})">Сезон 6</a></li>
          </ul>
        </li>
        <li><a ui-sref="actors">Актеры</a></li>
        <li><a ui-sref="music">Музыка из сериала</a></li>
        <li><a ui-sref="news">Фильмы</a></li>
      </ul>
    </div>
   <!--  <button class="btn btn-default navbar-btn pull-right hidden-xs"><span class="hidden-xs hidden-sm">Войти</span></button> -->
  </div>
</nav>




<!--       <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" class="navbar-toggle collapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button><a href="#main" class="navbar-brand hidden-xs"><img src="images/logo-nav.png"></a>
        </div>
        <div id="navigation" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#about" class="about-a">ABOUT US</a></li>
            <li><a href="#projects" class="projects-a">OUR PROJECTS</a></li>
            <li><a href="#team" class="team-a">TEAM</a></li>
            <li><a href="#contacts" class="contacts-a">CONTACTS</a></li>
          </ul>
        </div>
      </div> -->
