<div>
	  <ul class="img-thumbnails clearfix">
	    <li   class="pull-left thumbnail thumbnail-seria" ng-repeat="seria in store.currentSeason.serias">
	    	<a ui-sref="seria({seriaId: seria.seriaId, seasonId: store.seasonId})">
				<img ng-src="{{seria.imgSrc}}">
				<div class="seria-info">
					<p>Серия номер: {{seria.seriaId}}</p>
		      		<h5>{{seria.seriaName}}</h5>
				</div>
		      	
	    	</a>
	      
	    </li>
	  </ul>
  </div>
</div>