<div class="season-block">
  <div class="container">
    <div class="row">
        <div class="col-md-4">
          <div class="img-season">
            <img ng-src="../images/season_{{store.currentSeason.seasonId}}.jpg" />
          </div>
        </div>
        <div class="col-md-8">
           <div class="season_info">
              <p><strong>Первый показ:</strong> {{store.currentSeason.first_show}}</p>
              <p><strong>Количество эпизодов:</strong> {{store.currentSeason.serias_number}}</p>
              <p><strong>Краткое содержание:</strong></p>
              <p>{{store.currentSeason.description}}</p>
           </div>
        </div>
    </div>
  </div>   
</div>


