<div class="seria-comments">
  <ul>
    <h4>Комментарии</h4>
    <li ng-repeat="review in store.seasons.reviews">
      <blockquote>
        <strong>{{review.stars}} Stars</strong>
        {{review.body}}
        <cite class="clearfix">—{{review.author}} on {{review.createdOn | date}}</cite>
      </blockquote>
    </li>
  </ul>

  <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"  ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate >

    <blockquote>
      <strong>{{reviewCtrl.review.stars}} Stars</strong>
      {{reviewCtrl.review.body}}
       <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
    </blockquote>


    <h4>Написать комментарий</h4>
    <fieldset class="form-group">
      <select ng-model="reviewCtrl.review.stars" class="form-control" required ng-options="stars for stars in [5,4,3,2,1]"  title="Stars">
        <option value="">Оцените сериал</option>
      </select>
    </fieldset>
    <fieldset class="form-group">
      <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Ваш комментарий..." title="Review"></textarea>
    </fieldset>
    <fieldset class="form-group">
      <input ng-model="reviewCtrl.review.author" type="email" class="form-control" required placeholder="jimmyDean@example.org" title="Email" />
    </fieldset>
    <fieldset class="form-group">
      <input type="submit" class="btn btn-primary pull-right" value="Отправить отзыв" />
    </fieldset>
  </form> 

</div>
