<div class="seria-video">
    <div class="thumbnail thumbnail-video">
    	<IFRAME ng-src="{{ser.currentSeria.src}}" width='640px' height='480px' scrolling='no' frameborder='no'> iframe</IFRAME>
    </div>
</div>