.actor-photo img {
	width: 250px;
	height: 350px;
}
.actor-photo {
	margin-top: 30px;
	width: 260px;
    height: 360px;
}
.actorAnimaLeft {
  -webkit-animation: bounceInLeft 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: bounceInLeft 2s; /* Firefox < 16 */
  -ms-animation: bounceInLeft 2s; /* Internet Explorer */
  -o-animation: bounceInLeft 2s; /* Opera < 12.1 */
  animation: bounceInLeft 2s;
}
.actorAnimaRight {
  -webkit-animation: bounceInRight 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: bounceInRight 2s; /* Firefox < 16 */
  -ms-animation: bounceInRight 2s; /* Internet Explorer */
  -o-animation: bounceInRight 2s; /* Opera < 12.1 */
  animation: bounceInRight 2s;
}
.actors {
  -webkit-animation: fadeInDown 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeInDown 1s; /* Firefox < 16 */
  -ms-animation: fadeInDown 1s; /* Internet Explorer */
  -o-animation: fadeInDown 1s; /* Opera < 12.1 */
  animation: fadeInDown 1s;
}

