.home {
	text-align: center;
/*	background-color: #3c3c3c;*/
	
	text-transform: uppercase;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
  -webkit-animation: fadeInDown 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeInDown 1s; /* Firefox < 16 */
  -ms-animation: fadeInDown 1s; /* Internet Explorer */
  -o-animation: fadeInDown 1s; /* Opera < 12.1 */
  animation: fadeInDown 1s;
}
.home .image {
	height: 200px;
	margin-top: 20px;

}
.img-wrap-home {
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
}
.slick-slider {
	margin-top: 35px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}
.slick-slider div {
	height: 168px;
	cursor: pointer;
    color: #fff;
}
.slider-home {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (max-width: 991px) {
 .slick-slider div {
    height: 250px;
 }   
}
@media screen and (max-width: 400px) {
    .img-wrap-home img {
        width: 100%;   
    }
    .home {
        padding-bottom: 0px !important;
    }
    .slick-slider div {
        height: 126px;
 }   
}

.damper-right {
	position: absolute;
    z-index: 10;
    width: 50%;
    right: 0;
    height: 100%;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.1);
    background: url(http://html.wwwebinvader.com/MovieMe/MovieMe-Dark/img/damper-pat.png) repeat left top;
    -webkit-transition: all 1.6s ease-in-out;
    -moz-transition: all 1.6s ease-in-out;
    transition: all 1.6s ease-in-out;
}
.damper-left {
	position: absolute;
    z-index: 10;
    width: 50%;
    left: 0;
    height: 100%;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.1);
    background: url(http://html.wwwebinvader.com/MovieMe/MovieMe-Dark/img/damper-pat.png) repeat right top;
    -webkit-transition: all 1.6s ease-in-out;
    -moz-transition: all 1.6s ease-in-out;
    transition: all 1.6s ease-in-out;
}
.season1 {
	background: url('../images/s1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.season2 {
	background: url('../images/s2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.season3 {
	background: url('../images/s3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.season4 {
    background: url('../images/s4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.season5 {
    background: url('../images/s5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.season6 {
    background: url('../images/s6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
