body {
/*	background: linear-gradient(to bottom, #FFB6C1, #FF1493);*/
	background: linear-gradient(to bottom, #b9c6ed, #e39a9f);
}

.ng-invalid.ng-dirty {
  border-color: red;
}
.ng-valid.ng-dirty {
  border-color: green;
}
footer {
	width: 100%;
}
@media screen and (max-width: 780px) {
  footer {
    position: fixed;
    bottom: 0;
  }
  section {
    padding-bottom: 100px;
  }
  body {
   background: #b9c6ed;
  }
}
footer img {
	width: 100%;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #000;
}
a {
	color: #000;
}
blockquote {
	border-left: 2px solid #232323;
}
.title {
  -webkit-animation: bounceInLeft 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: bounceInLeft 1s; /* Firefox < 16 */
  -ms-animation: bounceInLeft 1s; /* Internet Explorer */
  -o-animation: bounceInLeft 1s; /* Opera < 12.1 */
  animation: bounceInLeft 1s;
}
.logo-city {
  -webkit-animation: tada 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: tada 1s; /* Firefox < 16 */
  -ms-animation: tada 1s; /* Internet Explorer */
  -o-animation: tada 1s; /* Opera < 12.1 */
  animation: tada 1s;

}
.footer-city {
  -webkit-animation: fadeInUp 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeInUp 1s; /* Firefox < 16 */
  -ms-animation: fadeInUp 1s; /* Internet Explorer */
  -o-animation: fadeInUp 1s; /* Opera < 12.1 */
  animation: fadeInUp 1s;

}


