.movies img {
	width: 222px;
	height: 303px;
}
.movie-photo {
	margin-top: 30px;
	width: 232px;
    height: 313px;
}
.movies {
  -webkit-animation: fadeInDown 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeInDown 1s; /* Firefox < 16 */
  -ms-animation: fadeInDown 1s; /* Internet Explorer */
  -o-animation: fadeInDown 1s; /* Opera < 12.1 */
  animation: fadeInDown 1s;
}
.thumbnail-movie2010 {
  width: 460px;
  height: 344px;
  margin-top: 40px;
  margin-bottom: 50px;
}
.thumbnail-movie2008 {
  width: 430px;
  height: 325px;
  margin-top: 40px;
  margin-bottom: 50px;
}
@media screen and (max-width: 780px){
 .actress {
  padding-left: 20px;
 } 
}
