.song {
	margin-top: 15px;
}
.musik {
  -webkit-animation: fadeInDown 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeInDown 1s; /* Firefox < 16 */
  -ms-animation: fadeInDown 1s; /* Internet Explorer */
  -o-animation: fadeInDown 1s; /* Opera < 12.1 */
  animation: fadeInDown 1s;

}
