.top {
	margin-bottom: 0;
/*	background: #2b2b2b;*/
	text-transform: uppercase;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	border-bottom: none;
}
.navbar-brand {
	padding-top: 11px;
}
@media screen and (max-width: 991px) {
	.navbar-brand {
		padding-top: 15px;
	}
}
.nav-toggle-button {
	background-color: rgba(184,184,184, 0.5);
}