.online {
  -webkit-animation: fadeInDown 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeInDown 1s; /* Firefox < 16 */
  -ms-animation: fadeInDown 1s; /* Internet Explorer */
  -o-animation: fadeInDown 1s; /* Opera < 12.1 */
  animation: fadeInDown 1s;
}

.img-season {
	margin-bottom: 20px;
}

.season_name {
	text-align: center;
	margin-bottom: 40px;
}
.season_info {
	font-size: 16px;
}
.season-block {
	padding-top: 40px;
	padding-bottom: 40px;
}
.thumbnail-seria {
    width: 312px;
    height: 250px;
    margin-right: 40px;
}
.seria-info {
	padding: 6px 10px;
}

@media screen and (max-width: 991px) {
.thumbnail-seria {
	margin-right: 10px;
	width: 230px;
    height: 214px;
}	
}