.seria {
  -webkit-animation: fadeInDown 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeInDown 1s; /* Firefox < 16 */
  -ms-animation: fadeInDown 1s; /* Internet Explorer */
  -o-animation: fadeInDown 1s; /* Opera < 12.1 */
  animation: fadeInDown 1s;
}
.img-wrap {
	background: #000;
	height: 350px;
    width: 813px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}
.thumbnail-video {
	width: 650px;
    height: 490px;
}
.nav-pills-seria {
	margin-bottom: 20px;
}
@media screen and (min-width: 780px){
  .seria-description {
  padding-bottom: 260px;
}
    .seria-comments {
    padding-bottom: 80px;
  }
}

